In [132]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [76]:
def import_data(csv_name):
    csv_pd = pd.read_csv(csv_name)
    csv_pd.Timestamp = pd.to_datetime(csv_pd.Timestamp)
    csv_pd['Year'] = csv_pd.Timestamp.dt.year
    csv_pd['Month'] = csv_pd.Timestamp.dt.month
    csv_pd['Day'] = csv_pd.Timestamp.dt.day
    csv_pd['Hour'] = csv_pd.Timestamp.dt.hour
    csv_pd['Minute'] = csv_pd.Timestamp.dt.minute
    csv_pd['Second'] = csv_pd.Timestamp.dt.second
    return csv_pd
residential_demand = import_data('residential_cleaned.csv')
turbine_telemetry = import_data('turbine_telemetry.csv')

In [77]:
residential_demand.head()

,Unnamed: 0,Timestamp,Demand_mean_kw,N_households,Year,Month,Day,Hour,Minute,Second
0,0,2017-01-01 00:00:00,0.220106,5428,2017,1,1,0,0,0
1,1,2017-01-01 00:30:00,0.205945,5429,2017,1,1,0,30,0
2,2,2017-01-01 01:00:00,0.189090,5429,2017,1,1,1,0,0
3,3,2017-01-01 01:30:00,0.173118,5429,2017,1,1,1,30,0
4,4,2017-01-01 02:00:00,0.159051,5429,2017,1,1,2,0,0

In [78]:
turbine_telemetry.head()

,Timestamp,Power_kw,Setpoint_kw,Wind_ms,Year,Month,Day,Hour,Minute,Second
0,2015-05-28 00:00:23,80.0,900.0,4.9,2015,5,28,0,0,23
1,2015-05-28 00:01:23,78.0,900.0,5.4,2015,5,28,0,1,23
2,2015-05-28 00:02:23,52.0,900.0,4.9,2015,5,28,0,2,23
3,2015-05-28 00:03:23,57.0,900.0,4.6,2015,5,28,0,3,23
4,2015-05-28 00:04:23,54.0,900.0,4.6,2015,5,28,0,4,23

# Data cleaning:
### The following parts is to add additional columns to turbine_telemetry for future data analysis

In [79]:
# Remove the rows with nan values. 

turbine_telemetry_replace_nan = turbine_telemetry.copy()
Power_Wind_pd = turbine_telemetry_replace_nan[['Timestamp','Power_kw','Wind_ms']]
Setpoint_pd = turbine_telemetry_replace_nan[['Timestamp','Setpoint_kw']]
Power_Wind_pd.fillna(method='bfill',inplace=True)
Setpoint_pd.fillna(method='ffill',inplace=True)
turbine_telemetry_replace_nan = pd.merge(turbine_telemetry_replace_nan, Power_Wind_pd, on=["Timestamp"])
turbine_telemetry_replace_nan = pd.merge(turbine_telemetry_replace_nan, Setpoint_pd, on=["Timestamp"])
turbine_telemetry_replace_nan=turbine_telemetry_replace_nan.drop(columns = ['Power_kw_x','Setpoint_kw_x','Wind_ms_x'])
turbine_telemetry_replace_nan['Timestamp_minus_sc'] = turbine_telemetry_replace_nan['Timestamp'].dt.floor('T')
turbine_telemetry_replace_nan = turbine_telemetry_replace_nan.drop_duplicates(subset=['Timestamp_minus_sc'], keep='last')
turbine_telemetry_replace_nan=turbine_telemetry_replace_nan.rename(columns={'Power_kw_y':'Power_kw','Wind_ms_y':'Wind_ms','Setpoint_kw_y':'Setpoint_kw'})
turbine_telemetry_replace_nan = turbine_telemetry_replace_nan.drop(columns = ['Timestamp_minus_sc'])
turbine_telemetry_replace_nan.head()

D:\Anaconda\lib\site-packages\pandas\core\frame.py:4317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

,Timestamp,Year,Month,Day,Hour,Minute,Second,Power_kw,Wind_ms,Setpoint_kw
0,2015-05-28 00:00:23,2015,5,28,0,0,23,80.0,4.9,900.0
1,2015-05-28 00:01:23,2015,5,28,0,1,23,78.0,5.4,900.0
2,2015-05-28 00:02:23,2015,5,28,0,2,23,52.0,4.9,900.0
3,2015-05-28 00:03:23,2015,5,28,0,3,23,57.0,4.6,900.0
4,2015-05-28 00:04:23,2015,5,28,0,4,23,54.0,4.6,900.0

In [80]:
# Add Half-hourly timestamp column in turbine telemetry to match the timestamp in residential_demand
import datetime
turbine_telemetry_replace_nan['Timestamp_H'] = turbine_telemetry_replace_nan['Timestamp'].apply(lambda dt: datetime.datetime(dt.year, dt.month, dt.day, dt.hour,30*(dt.minute // 30)))
turbine_telemetry_replace_nan.head()

,Timestamp,Year,Month,Day,Hour,Minute,Second,Power_kw,Wind_ms,Setpoint_kw,Timestamp_H
0,2015-05-28 00:00:23,2015,5,28,0,0,23,80.0,4.9,900.0,2015-05-28
1,2015-05-28 00:01:23,2015,5,28,0,1,23,78.0,5.4,900.0,2015-05-28
2,2015-05-28 00:02:23,2015,5,28,0,2,23,52.0,4.9,900.0,2015-05-28
3,2015-05-28 00:03:23,2015,5,28,0,3,23,57.0,4.6,900.0,2015-05-28
4,2015-05-28 00:04:23,2015,5,28,0,4,23,54.0,4.6,900.0,2015-05-28

### (Finished)

# Q1: calculate curtailment -
### The following part is to calculate curtailment: Find historical max power for the current wind speed, times this number by 500(#of turbine in island) and then minus total customer demand and 40MW export electricity

### Data clean: Constraint power generation by wind<30 and setpoint<900, (!!! check in coaching session!)

In [81]:
# Clean wind generation table by wind speed<30

## 1. only keep those rows where wind_ms < 30
## 2. only keep those rows where Power_kw > Setpoint_kw  -- Removed!
turbine_telemetry_filter_wind_power = turbine_telemetry_replace_nan.copy()
#turbine_telemetry_filter_wind_power=turbine_telemetry_filter_wind_power.loc[turbine_telemetry_filter_wind_power.Wind_ms < 25]
# 3. only keep those rows where Setpoint_kw < 900 --- Removed!
#turbine_telemetry_filter_wind_power=turbine_telemetry_filter_wind_power.loc[turbine_telemetry_filter_wind_power.Setpoint_kw	 < 900]


#turbine_telemetry_filter_wind_power=turbine_telemetry_filter_wind_power.loc[turbine_telemetry_filter_wind_power.Power_kw>turbine_telemetry_filter_wind_power.Setpoint_kw]
#turbine_telemetry_filter_wind_power.to_csv(r'turbine_telemetry_filter_wind_power.csv', index = False)
turbine_telemetry_filter_wind_power

,Timestamp,Year,Month,Day,Hour,Minute,Second,Power_kw,Wind_ms,Setpoint_kw,Timestamp_H
0,2015-05-28 00:00:23,2015,5,28,0,0,23,80.0,4.9,900.0,2015-05-28 00:00:00
1,2015-05-28 00:01:23,2015,5,28,0,1,23,78.0,5.4,900.0,2015-05-28 00:00:00
2,2015-05-28 00:02:23,2015,5,28,0,2,23,52.0,4.9,900.0,2015-05-28 00:00:00
3,2015-05-28 00:03:23,2015,5,28,0,3,23,57.0,4.6,900.0,2015-05-28 00:00:00
4,2015-05-28 00:04:23,2015,5,28,0,4,23,54.0,4.6,900.0,2015-05-28 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...
1069631,2018-01-11 06:10:32,2018,1,11,6,10,32,99.0,5.9,900.0,2018-01-11 06:00:00
1069632,2018-01-11 06:11:32,2018,1,11,6,11,32,105.0,5.7,900.0,2018-01-11 06:00:00
1069633,2018-01-11 06:12:32,2018,1,11,6,12,32,93.0,5.8,900.0,2018-01-11 06:00:00
1069634,2018-01-11 06:13:32,2018,1,11,6,13,32,97.0,5.5,900.0,2018-01-11 06:00:00
1069635,2018-01-11 06:14:32,2018,1,11,6,14,32,92.0,5.5,900.0,2018-01-11 06:00:00

### The following part is to curtailment using supply-demand method 

#### TO DO : we need to make assumption for demand for all years except 2017

# TO DO:
    
    Add customer consumption to other years as well
    
    Calculate following by normalised customer consumption

In [82]:
#In this session we calculate total curtailed energy -> Q1

# calculate max power per HH
max_Pwer_kw_y=turbine_telemetry_filter_wind_power.groupby(['Year','Wind_ms'])['Power_kw'].max()

max_Pwer_kw_y= pd.DataFrame(max_Pwer_kw_y)
max_Pwer_kw_y.reset_index()

# Combine with turbine_Minute table
turbine_HH = pd.merge(turbine_telemetry_filter_wind_power,max_Pwer_kw_y, how ='left',on=['Year','Wind_ms'])  #we need to check for this part!

# Change max allowed power output to 0 if wind speed >25
location = turbine_HH['Wind_ms'] >= 25
turbine_HH.loc[location, 'Power_kw_y'] = 0


turbine_HH = turbine_HH.rename(columns = {"Power_kw_y": "Max_power_given_wind_speed"}) 
turbine_HH = turbine_HH.groupby(['Timestamp_H']).mean()
drop_columns = ['Year','Month','Day','Hour','Minute','Second']
turbine_HH=turbine_HH.drop(columns=drop_columns)


# Combine with demand table 
residential_demand=residential_demand.rename(columns = {"Timestamp": "Timestamp_H"}) 
combined_table = pd.merge(residential_demand,turbine_HH,how ='inner',on=['Timestamp_H'])


# Calculate curtaliment 
combined_table['residential_demand(kwh)'] = 0.5* combined_table['Demand_mean_kw'] * combined_table['N_households']
combined_table['export(kwh)'] = 0.5*40*1000

#chose one of the below two to switch result 
#Alex method:
combined_table['wind_potential_generation(kwh)'] = 500* 0.5*(combined_table['Max_power_given_wind_speed']-combined_table['Setpoint_kw'])

#Lucia postage:
#combined_table['wind_potential_generation(kwh)'] = 500* 0.5*(combined_table['Max_power_given_wind_speed'])


combined_table['curtailment(kwh)'] = combined_table['wind_potential_generation(kwh)']-combined_table['residential_demand(kwh)']-combined_table['export(kwh)']
location = combined_table['curtailment(kwh)'] <0
combined_table.loc[location, 'curtailment(kwh)'] = 0

# calculate annyal curtailment

yearly_curtailment = pd.DataFrame(combined_table.groupby(['Year'])['curtailment(kwh)'].sum())


# Result table and print result
yearly_curtailment

      curtailment(kwh)
Year
2017      1.744984e+08
2018      0.000000e+00

In [83]:
combined_table.head()

,Unnamed: 0,Timestamp_H,Demand_mean_kw,N_households,Year,Month,Day,Hour,Minute,Second,Power_kw_x,Wind_ms,Setpoint_kw,Max_power_given_wind_speed,residential_demand(kwh),export(kwh),wind_potential_generation(kwh),curtailment(kwh)
0,0,2017-01-01 00:00:00,0.220106,5428,2017,1,1,0,0,0,894.033333,13.820000,900.0,921.233333,597.369000,20000.0,5308.333333,0.0
1,1,2017-01-01 00:30:00,0.205945,5429,2017,1,1,0,30,0,898.266667,16.106667,900.0,922.033333,559.038001,20000.0,5508.333333,0.0
2,2,2017-01-01 01:00:00,0.189090,5429,2017,1,1,1,0,0,902.866667,16.380000,900.0,923.766667,513.284501,20000.0,5941.666667,0.0
3,3,2017-01-01 01:30:00,0.173118,5429,2017,1,1,1,30,0,907.833333,17.083333,900.0,923.166667,469.929001,20000.0,5791.666667,0.0
4,4,2017-01-01 02:00:00,0.159051,5429,2017,1,1,2,0,0,907.000000,16.800000,900.0,921.000000,431.743000,20000.0,5250.000000,0.0

# Q2:

In [84]:
resc_heating_usage = pd.read_csv('Add_residential_heating_demand_perc.csv')
resc_heating_usage.head()

   Hour  Minute  res_heating_perc
0     0       0          0.526316
1     0      30          0.403158
2     1       0          0.280000
3     1      30          0.248696
4     2       0          0.217391

Assume all residentail in the island use gas heater instead of electricity. 
Then the savable curtail energy by installing DR system will be : Max(0, curtailed energy - residential electricity demand on heating)

In [85]:
combined_table_2.head()

,Timestamp_H,Demand_mean_kw,N_households,res_heating_perc,curtailment(kwh),Year,Month,Hour,Minute,household_with_DR,addi_demand_by_DR,saved_curtailment
0,2017-01-02 11:00:00,0.316410,5431,0.136364,286640.787500,2017,1,11,0,905.0,19.523961,19.523961
1,2017-01-02 11:30:00,0.333086,5431,0.136364,313845.505500,2017,1,11,30,905.0,20.552908,20.552908
2,2017-01-05 08:30:00,0.263465,5456,0.106875,39965.478526,2017,1,8,30,905.0,12.741405,12.741405
3,2017-01-05 09:00:00,0.263250,5457,0.120000,67998.389667,2017,1,9,0,905.0,14.294463,14.294463
4,2017-01-05 09:30:00,0.264705,5459,0.128182,232494.155667,2017,1,9,30,905.0,15.353464,15.353464

In [89]:
# The following step is to define number of household use DR system for heating
DR_penetration_perc = 0.1
DR_penetration_num=round(combined_table.N_households[combined_table.Year==2017].mean()*DR_penetration_perc,0)

# add residential heating electricity assumption into combine dataframe
combined_table_2=combined_table.copy()
combined_table_2 = pd.merge(combined_table,resc_heating_usage, how ='left',on=['Hour','Minute']) 


combined_table_2=combined_table_2[['Timestamp_H','Demand_mean_kw','N_households','res_heating_perc','curtailment(kwh)','Year','Month','Hour','Minute']]

#calculate additional residential electicity usage by installing DR system
combined_table_2['household_with_DR']=DR_penetration_num

combined_table_2['addi_demand_by_DR']=0.5*combined_table_2['household_with_DR']*combined_table_2['Demand_mean_kw']*combined_table_2['res_heating_perc']

# replace negative/NaN saved curtailment energy by 0

combined_table_2['saved_curtailment']= combined_table_2[['addi_demand_by_DR','curtailment(kwh)']].min(axis=1)
combined_table_2['saved_curtailment'] = combined_table_2['saved_curtailment'].fillna(0)


#Print yearly_saved_energy(mwh)
yearly_saved_energy = pd.DataFrame(combined_table_2.groupby(['Year'])['saved_curtailment'].sum())
yearly_saved_energy

      saved_curtailment
Year
2017       17798.612603
2018           0.000000

In [104]:
# This returns individual heating system required capacity - which is the Max household electricity usage (MW) of a day in winter
Intraday_heating_MW_Total = pd.DataFrame(combined_table_2.groupby(['Year','Month','Hour'])['addi_demand_by_DR'].mean()*2/DR_penetration_num).reset_index()

Individual_Heater_capacity=Intraday_heating_MW_Total[Intraday_heating_MW_Total.Month==12].max()
Intraday_heating_MW_Total

     Year  Month  Hour  addi_demand_by_DR
0    2017      1     0           0.069285
1    2017      1     1           0.032605
2    2017      1     2           0.022109
3    2017      1     3           0.014671
4    2017      1     4           0.015702
..    ...    ...   ...                ...
307  2018      1    19           0.038916
308  2018      1    20           0.058357
309  2018      1    21           0.044966
310  2018      1    22           0.069810
311  2018      1    23           0.108247

[312 rows x 4 columns]

In [ ]:
# This is for Data spot check
combined_table_2[combined_table_2['saved_curtailment']>0]

# The code below is to analyze the breakdown point of revenue and cost of this DR Program

Model:

n is the number of household who join in the DR program(based on data)

p_energy is the energy used for heating that was original supplied by gas but now supplied by the curtailed energy  (per household) (based on data)

P1 is the price that we buy the curtailed energy from the generators (wholesale price, based on online data)

P2 is the price that we sell the curtailed energy to the local, which are used for heating (estimated)

P3 is the price of gas used to supply the heater (based on online data)

FC is the installment cost of this DR program (to be determined)

VC is the variable cost per household of this PR program (to be determined)


Revenue for generator: n * p_energy  * P1 

Revenue for each household:  p_energy  * (P3 - P2) 

Financial benefits to Kaluza: Revenue - cost =  n * p_energy  * (P2-P1) -  FC - VC * n

Savings to the Community: when the demand and supply are not balanced, it will hurt the grid. Therefore, we need to balance the usage of electronicty during peak and offpeak time and when wind is strong and not strong.

In [105]:
combined_table_2.head()

,Timestamp_H,Demand_mean_kw,N_households,res_heating_perc,curtailment(kwh),Year,Month,Hour,Minute,household_with_DR,addi_demand_by_DR,saved_curtailment
0,2017-01-01 00:00:00,0.220106,5428,0.526316,0.0,2017,1,0,0,814.0,47.149126,0.0
1,2017-01-01 00:30:00,0.205945,5429,0.403158,0.0,2017,1,0,30,814.0,33.792558,0.0
2,2017-01-01 01:00:00,0.189090,5429,0.280000,0.0,2017,1,1,0,814.0,21.548684,0.0
3,2017-01-01 01:30:00,0.173118,5429,0.248696,0.0,2017,1,1,30,814.0,17.522860,0.0
4,2017-01-01 02:00:00,0.159051,5429,0.217391,0.0,2017,1,2,0,814.0,14.072525,0.0

In [189]:
# Read the wholesale price for electricity 
col_list = ['YEAR','MONTH', 'WHOLESALE PRICE(￡/MWh）']
wholesale_price = pd.read_csv('wholesale_price.csv',usecols=col_list) # https://www.businesselectricityprices.org.uk/retail-versus-wholesale-prices/
wholesale_price['Cumulative_Month'] = wholesale_price.index.values + 1
wholesale_price

    YEAR  MONTH  WHOLESALE PRICE(￡/MWh）  Cumulative_Month
0     16      1                   36.95                 1
1     16      2                   36.95                 2
2     16      3                   36.95                 3
3     16      4                   34.37                 4
4     16      5                   34.37                 5
5     16      6                   34.37                 6
6     16      7                   38.40                 7
7     16      8                   38.40                 8
8     16      9                   38.40                 9
9     16     10                   56.03                10
10    16     11                   56.03                11
11    16     12                   56.03                12
12    17      1                   53.37                13
13    17      2                   53.38                14
14    17      3                   53.39                15
15    17      4                   42.10                16
16    17      5                   42.10                17
17    17      6                   42.10                18
18    17      7                   43.05                19
19    17      8                   43.05                20
20    17      9                   43.05                21
21    17     10                   46.68                22
22    17     11                   46.68                23
23    17     12                   46.68                24
24    18      1                   56.18                25
25    18      2                   56.18                26
26    18      3                   56.18                27
27    18      4                   50.74                28
28    18      5                   50.74                29
29    18      6                   50.74                30
30    18      7                   57.61                31
31    18      8                   57.61                32
32    18      9                   57.61                33
33    18     10                   64.76                34
34    18     11                   64.76                35
35    18     12                   64.76                36
36    19      1                   62.55                37
37    19      2                   62.55                38
38    19      3                   62.55                39
39    19      4                   35.50                40
40    19      5                   35.50                41
41    19      6                   35.50                42
42    19      7                   41.86                43
43    19      8                   41.86                44
44    19      9                   41.86                45
45    19     10                   37.74                46
46    19     11                   37.74                47
47    19     12                   37.74                48

In [206]:
# Define the paramaters used in the models which analyze the financial and social beneifts 
n = combined_table_2.groupby(['Month'])['household_with_DR'].mean() # the number of households who join in the DR program(based on calculation)
p_energy = combined_table_2.groupby(['Month'])['household_with_DR'].sum() # is the energy used for heating that was original supplied by gas but now supplied by the curtailed energy  (per household) (based on calculation)
P1 = wholesale_price.loc[wholesale_price.YEAR == 17]
            # The unit is (GBP/KWh)
            # the wholesale price is the generator sells the energy in the general market (based on online data)
                
P2 = 4 * 0.01 # The unit is (GBP/KWh)
            # There is the gas price which the local residents are used for heating
            # https://www.thegreenage.co.uk/cheaper-heat-home-gas-electricity/
P3 = 15 * 0.01 # The unit is (GBP/KWh)
            # This is the electricity price that the local residents will use for heating  
            # https://www.thegreenage.co.uk/cheaper-heat-home-gas-electricity/
        
FC = 100 # The unit is (GBP/Household)
         # the installment cost of this DR program (to be determined)
VC = 1 # The unit is (GBP/month * household 


def return_Revenue_for_generator(n,p_energy,P1): 
    return n*p_energy*P1


def return_Loss_for_all_household(p_energy,P3,P2,n):
    return p_energy*(P2-P3) * n



def return_Financial_benefits_to_Kaluza(n,p_energy,P2,P1,FC,VC):
    return n * p_energy * (P2-P1) -  FC - VC * n



def return_Savings_to_the_Community():
    # curtailed energy * wholesale price + (gas heating use - retail electricity price) * mwh - fixed cost for installation 
    # unfinished
    return

In [207]:
month = combined_table_2.Month.unique()
table_Q2 = pd.DataFrame(data = month,columns=['Month']).set_index('Month')
table_Q2['n'] = n
table_Q2['p_energy(KWh)'] = p
table_Q2['P1(￡/KWh)'] = wholesale_price['WHOLESALE PRICE(￡/MWh）'] * 0.001
table_Q2['P3(￡/KWh)'] = P3
table_Q2['P2(￡/KWh)'] = (table_Q2['P3(￡/KWh)']+table_Q2['P1(￡/KWh)'])/2 
table_Q2['FC(￡)'] = FC
table_Q2['VC(￡)'] = VC
table_Q2['Revenue_Generator'] = table_Q2.apply(lambda row:return_Revenue_for_generator(row['n'],row['p_energy(KWh)'],row['P1(￡/KWh)']),axis=1)
table_Q2['Loss_All_Household'] = table_Q2.apply(lambda row:return_Loss_for_all_household(row['p_energy(KWh)'],row['P3(￡/KWh)'],row['P2(￡/KWh)'],row['n']),axis=1)
table_Q2['Revenue_minus_Loss'] = table_Q2['Revenue_Generator'] + table_Q2['Loss_All_Household']
table_Q2['Net_Income_for_Generator'] = table_Q2['Revenue_minus_Loss']/2
table_Q2['Net_Income_for_Kaluza'] = table_Q2['Revenue_minus_Loss']/2
table_Q2['Fixed_Cost_Kaluza'] = 0
table_Q2['Fixed_Cost_Kaluza'].iloc._setitem_with_indexer(0, FC * table_Q2['n'].iloc[0])
table_Q2['Variable_Cost_Kaluza'] = VC * table_Q2['n']
table_Q2['Total_cost_Kaluza'] = table_Q2['Fixed_Cost_Kaluza'] + table_Q2['Variable_Cost_Kaluza']
table_Q2['Net_Cash_flow_Kaluza'] = table_Q2['Net_Income_for_Kaluza']- table_Q2['Total_cost_Kaluza']
table_Q2

<ipython-input-207-95f29f388f02>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_Q2['Fixed_Cost_Kaluza'].iloc._setitem_with_indexer(0, FC * table_Q2['n'].iloc[0])

,n,p_energy(KWh),P1(￡/KWh),P3(￡/KWh),P2(￡/KWh),FC(￡),VC(￡),Revenue_Generator,Loss_All_Household,Revenue_minus_Loss,Net_Income_for_Generator,Net_Income_for_Kaluza,Fixed_Cost_Kaluza,Variable_Cost_Kaluza,Total_cost_Kaluza,Net_Cash_flow_Kaluza
Month,,,,,,,,,,,,,,,,
1,814.0,1250304.0,0.03695,0.15,0.093475,100,1,3.760577e+07,-5.752817e+07,-1.992241e+07,-9.961203e+06,-9.961203e+06,81400.0,814.0,82214.0,-1.004342e+07
2,814.0,1094016.0,0.03695,0.15,0.093475,100,1,3.290505e+07,-5.033715e+07,-1.743211e+07,-8.716053e+06,-8.716053e+06,0.0,814.0,814.0,-8.716867e+06
3,814.0,1211232.0,0.03437,0.15,0.092185,100,1,3.388686e+07,-5.700229e+07,-2.311543e+07,-1.155772e+07,-1.155772e+07,0.0,814.0,814.0,-1.155853e+07
4,814.0,371998.0,0.03437,0.15,0.092185,100,1,1.040746e+07,-1.750675e+07,-7.099295e+06,-3.549648e+06,-3.549648e+06,0.0,814.0,814.0,-3.550462e+06
5,814.0,1201464.0,0.03437,0.15,0.092185,100,1,3.361357e+07,-5.654259e+07,-2.292902e+07,-1.146451e+07,-1.146451e+07,0.0,814.0,814.0,-1.146532e+07
6,814.0,1172160.0,0.03840,0.15,0.094200,100,1,3.663891e+07,-5.324091e+07,-1.660201e+07,-8.301003e+06,-8.301003e+06,0.0,814.0,814.0,-8.301817e+06
7,814.0,1211232.0,0.03840,0.15,0.094200,100,1,3.786021e+07,-5.501561e+07,-1.715541e+07,-8.577703e+06,-8.577703e+06,0.0,814.0,814.0,-8.578517e+06
8,814.0,1211232.0,0.03840,0.15,0.094200,100,1,3.786021e+07,-5.501561e+07,-1.715541e+07,-8.577703e+06,-8.577703e+06,0.0,814.0,814.0,-8.578517e+06
9,814.0,1172160.0,0.05603,0.15,0.103015,100,1,5.346037e+07,-4.483019e+07,8.630180e+06,4.315090e+06,4.315090e+06,0.0,814.0,814.0,4.314276e+06
10,814.0,1211232.0,0.05603,0.15,0.103015,100,1,5.524238e+07,-4.632452e+07,8.917853e+06,4.458927e+06,4.458927e+06,0.0,814.0,814.0,4.458113e+06
11,814.0,1170532.0,0.05603,0.15,0.103015,100,1,5.338612e+07,-4.476792e+07,8.618194e+06,4.309097e+06,4.309097e+06,0.0,814.0,814.0,4.308283e+06
12,814.0,1199022.0,0.05337,0.15,0.101685,100,1,5.208933e+07,-4.715563e+07,4.933700e+06,2.466850e+06,2.466850e+06,0.0,814.0,814.0,2.466036e+06

## Exploratory Data Analysis：

### DR system: 15.4KWh and 2.2kw, which gives charging period of 7 hours

# We calculate intraday graph for total curtailment and customer demand

In [ ]:
combined_table_2017=combined_table[combined_table.Year == 2017]

combined_data_intraday = combined_table_2017.groupby(['Hour'])['curtailment(kwh)','residential_demand(kwh)','export(kwh)'].mean()

x = combined_data_intraday.index.values
y1 = combined_data_intraday['curtailment(kwh)']
y2 = combined_data_intraday['residential_demand(kwh)']+combined_data_intraday['export(kwh)']
plt.plot(x,y1,label='curtailed_energy(KWh)')
plt.plot(x,y2,label='Total demand')
plt.title("Average intraday electricity demand and curtailed wind energy")
plt.legend()

In [ ]:
combined_table_2017=combined_table[combined_table.Year == 2017]
combined_data_intraday = combined_table_2017.groupby(['Hour'])['curtailment(kwh)','residential_demand(kwh)'].mean()

x = combined_data_intraday.index.values
y1 = combined_data_intraday['curtailment(kwh)']
y2 = combined_data_intraday['residential_demand(kwh)']
#plt.plot(x,y1,label='curtailed_energy(KWh)')
plt.plot(x,y2,label='Residential Demand')
plt.legend()
plt.title("Average residential electricity demand (KWh)")

In [ ]:
combined_table_2017=combined_table[combined_table.Year == 2017]
combined_data_intraday = combined_table_2017.groupby(['Hour'])['curtailment(kwh)','residential_demand(kwh)'].mean()

x = combined_data_intraday.index.values
y1 = combined_data_intraday['curtailment(kwh)']
y2 = combined_data_intraday['residential_demand(kwh)']
plt.plot(x,y1,label='curtailed_energy(KWh)')
#plt.plot(x,y2,label='Residential Demand')
plt.legend()
plt.title("Average curtailed energy (KWh)")


Hence for the next step, given the DR system is 15.4KWh and 2.2 KW => which require charging hour for 7hours
    1. We are ging to assume the hot water system is going to be charged in mid of the day -> increase electricity demand and reduce curtailment
    2.  DR will support residential electricity usage at night -> reduce electricity demand and increase curtailment
 
HOWEVER: 
    1. If at night & without DR system involved, energy is already oversupplied (curtailment>0) -> replacing residential electricity demand by DR system will lead to new curtailment energy!
    2. This means partial of our saved curtailed energy from mid of the day will be wasted at night!
    3. Hence the overall curtailment energy saving only comes from time periods at night that there is no electricity curtailment (curtailment == 0)
    

Hence energy saving from DR system is calculated as follow:
    For % of household that have DR system installed:
            1. During time period that DR system is supporting residential electricity usage (at night)
            2. For each half hour that energy is curtailed, DR system will not support residential electricity usage.
            3. For each half hour that energy is not curtailed, DR system is going to support residential electricity usage.
            4. As such, energy curtailment saving = Sum (residential electricity demand, if energy is not curtailed during this period)

In [ ]:
combined_table_2017=combined_table[ combined_table['curtailment(kwh)'] ==0 ]

combined_data_intraday = combined_table_2017.groupby(['Hour'])['curtailment(kwh)','residential_demand(kwh)','export(kwh)'].count()

x = combined_data_intraday.index.values
y1 = combined_data_intraday['curtailment(kwh)']
y2 = combined_data_intraday['residential_demand(kwh)']+combined_data_intraday['export(kwh)']
plt.plot(x,y1,label='curtailed_energy(KWh)')
#plt.plot(x,y2,label='Total demand')
plt.legend()
plt.title("2017-Number of time period that no energy has been curtailed")

----------------------------------------------------------------------------------------------------------------------------------
DON'T LOOK AT CODE IN BELOW, THEY ARE FROM PREVIOUS METHOD!!!!
--------------------------------------------------------------------------------------------

In [ ]:
## The following part is to integrate the curtailed_capacity at each time momement into the combined data


combined_data_intra_with_curtailed_capacity = combined_data_intra.merge(turbine_curtailed_HH,how='left',on=['Timestamp_H'])
combined_data_intra_with_curtailed_capacity = combined_data_intra_with_curtailed_capacity.drop(columns=['year','Year'])
combined_data_intra_with_curtailed_capacity=combined_data_intra_with_curtailed_capacity.fillna(0)
rename_columns = {'Power_kw':'Power_kw(per turbine)','curtailed_capacity(KW)':'curtailed_capacity(KW)(per turbine)'}
combined_data_intra_with_curtailed_capacity = combined_data_intra_with_curtailed_capacity.rename(columns=rename_columns)
combined_data_intra_with_curtailed_capacity['Hour'] = combined_data_intra_with_curtailed_capacity['Timestamp_H'].dt.hour
combined_data_intra_with_curtailed_capacity['Export Energy(kwh)'] = 40000*0.5
combined_data_intra_with_curtailed_capacity

In [ ]:
### The following part is to integrate the curtailed_capacity at each time momement into the combined data


# combined_data_intra_with_curtailed_capacity = combined_data_intra.merge(turbine_curtailed_HH,how='left',on=['Timestamp_H'])
# combined_data_intra_with_curtailed_capacity = combined_data_intra_with_curtailed_capacity.drop(columns=['year','Year'])
# combined_data_intra_with_curtailed_capacity=combined_data_intra_with_curtailed_capacity.fillna(0)
# rename_columns = {'Power_kw':'Power_kw(per turbine)','curtailed_capacity(KW)':'curtailed_capacity(KW)(per turbine)'}
# combined_data_intra_with_curtailed_capacity = combined_data_intra_with_curtailed_capacity.rename(columns=rename_columns)
# combined_data_intra_with_curtailed_capacity['Hour'] = combined_data_intra_with_curtailed_capacity['Timestamp_H'].dt.hour
# combined_data_intra_with_curtailed_capacity['Export Energy(kwh)'] = 40000*0.5
# combined_data_intra_with_curtailed_capacity

In [ ]:
### The following part is to transfer the combined data to the format of intra day table
# max_setpoint_kw=combined_data.groupby(['Timestamp_H'])['Setpoint_kw'].max()
# #max_hispower_kw=combined_data.groupby(['Timestamp_H'])['Setpoint_kw'].max()

# combined_data_intra = combined_data.groupby(['Timestamp_H']).mean()
# combined_data_intra['Max_Setpoint_kw'] = max_setpoint_kw
# combined_data_intra

### Finished

In [ ]:
#Combine HH wind Max generation dataframe with customer demand
residential_demand = residential_demand.rename(columns={'Timestamp':'Timestamp_H'})
combined_data=pd.merge(residential_demand,turbine_maxPower_HH,how='left',on=['Timestamp_H'])
drop_columns = ['Day','Second']
combined_data=combined_data.drop(columns=drop_columns)
combined_data

In [ ]:
# Tranfer the combined_data_intra_with_curtailed_capacity to intraday table
combined_data_intraday = combined_data_intra_with_curtailed_capacity.groupby(['Hour'])['Total_energy_demand(KWh)','curtailed_capacity(KW)(per turbine)','Export Energy(kwh)'].mean()
combined_data_intraday['curtailed_energy(KWh)'] = combined_data_intraday['curtailed_capacity(KW)(per turbine)'] * 500 / 2
combined_data_intraday['Local Demand and Export(kwh)'] = combined_data_intraday['Total_energy_demand(KWh)'] + combined_data_intraday['Export Energy(kwh)']

x = combined_data_intraday.index.values
y1 = combined_data_intraday['curtailed_energy(KWh)']
y2 = combined_data_intraday['Local Demand and Export(kwh)']
plt.plot(x,y1,label='curtailed_energy(KWh)')
plt.plot(x,y2,label='Local Demand and Export(kwh)')
plt.legend()

# -------------------------------------------------------------------------------------------------------------------------

In [ ]:
# Calculate the total curtailed energy per year  - per turbine!
total_curtailed_energy_per_year = pd.DataFrame(turbine_curtailed_HH.groupby(['Year'])['curtailed_capacity(KW)'].sum())
total_curtailed_energy_per_year['curtailed_energy(KWh)']= total_curtailed_energy_per_year['curtailed_capacity(KW)']/2
total_curtailed_energy_per_year

In [ ]:
#In this session we calculate total demand

#turbine_curtailed_2017 = turbine_curtailed[turbine_curtailed.Year == 2016]
turbine_curtailed_2017 = turbine_curtailed

turbine_curtailed_2017['Hour'] = turbine_curtailed_2017['Timestamp_H'].dt.hour
turbine_curtailed_2017['Minute'] = turbine_curtailed_2017['Timestamp_H'].dt.minute
turbine_curtailed_2017_Hour_Minute = pd.DataFrame(data = turbine_curtailed_2017.groupby(['Hour'])['curtailed_capacity'].mean())
turbine_curtailed_2017_Hour_Minute=turbine_curtailed_2017_Hour_Minute.reset_index()
x = turbine_curtailed_2017_Hour_Minute.index.values
y = turbine_curtailed_2017_Hour_Minute.curtailed_capacity
print(turbine_curtailed_2017_Hour_Minute)
plt.plot(x,y)

In [ ]:
# calculate the total supply
turbine_curtailed

In [ ]:
#calculate total customer yearly demand
residential_demand['Total_energy_demand(KWh)'] = residential_demand.Demand_mean_kw * residential_demand.N_households/2
intraday_residential_demand = pd.DataFrame(residential_demand.groupby(['Timestamp'])['Total_energy_demand(KWh)'].mean()).reset_index()
intraday_residential_demand['Hour'] = yearly_residential_demand.Timestamp.dt.hour
intraday_residential_demand = pd.DataFrame(residential_demand.groupby(['Hour'])['Total_energy_demand(KWh)'].sum()).reset_index()
intraday_residential_demand

# yearly_residential_demand = pd.DataFrame(residential_demand.groupby(['Year'])['Total_energy_demand(KWh)'].sum())

# # yearly_residential_demand=yearly_residential_demand.merge(total_curtailed_energy_per_year,on='Year',how='left')

# yearly_residential_demand
# #calculate percentage of curtailed energy out of total generation

# yearly_residential_demand['Total_energy_demand(KWh)+export'] = yearly_residential_demand['Total_energy_demand(KWh)'] + 40*1000*365*24

# #increase curtailed energy by 500 times as there is 500 turbines
# yearly_residential_demand['curtailed_energy/total_consumption_2'] = 500*yearly_residential_demand['curtailed_energy(KWh)'] / yearly_residential_demand['Total_energy_demand(KWh)+export']
# yearly_residential_demand['curtailed_energy/total_consumption'] = 500*yearly_residential_demand['curtailed_energy(KWh)'] / yearly_residential_demand['Total_energy_demand(KWh)']


# # by taking assumption that total electricity demand=total number of household + there will always be 40MW energy to mainland at any point in time
# # curtailed energy is 26.6% of total energy consumption.

In [ ]:
# Plot the intra day curtailed energy versus total demand
x = intraday_residential_demand.Hour
plt.plot(x,intraday_residential_demand['Total_energy_demand(KWh)'],label='Total_energy_demand(KWh)')
plt.ylabel('kwh')
plt.plot(x,intraday_curtailed_energy['curtailed_energy(KWh)'],label = 'Curtailed_energy(KWh)')
plt.legend()

# Q1: How much energy is currently curtailed annually across Orkney Isles?

### Step 1: 
To find max  curtailment from wind generator point of view
i.e. find difference betwee setpoint and power_kw_y. 
#This is the max amount of curtailment without customer consumption

Steps:
    1. curtailed energy per timestamp = Max(Power_kw_y - setpoint,0) => result_1 (done!)
    2 calculate energy curtailment based on historical_max_power_kw_-current_power_kw if setpoint>900 (to do by arianna &qian-aim for tonight   done!)
    3. aggregate the dataset to half hourly dataset (to do by arianna &qian-aim for tonight-done!)
    4. Calculate the yearly curtailed energy (to do by arianna &qian-aim for tonight-done!)
    
 

# Q2: How much can this be reduced by different levels of DR penetration?

### in addtion, Step 2 to include customer and 40MW export
To find available curtailment with customer demand involved. This is max amount of curtailment can be saved with extreme high DR penetration! 

i.e. new curtailment = result_1 - total demand - 40 (if there is any left_over, this is possible curtailment)

Steps: 
    1. Total customer demand = N households*Demand_mean_kw (to do by arianna &qian - aim for tonight - done!)  
    
    2. curstomer involved curtailment = Max(result_1 - 40 - total customer demand,0)  => call that result_2 (to do by arianna &qian-aim for tonight - we calculated the annual total)
        2.1 finding: curtailed energy = 26.6% of total energy consumption
        2.2 finding: total customer electricity consumption increase from 5-ish pm onwards, this is also the time that wind farm most likely been uncurtailed - see powerbi.
    



# Q3:How many local households would need to be on our DR scheme in order to supply this level of DR?

### in addition, Step 3 to include heating period in

#Note that the company have control of customer's heater, hence it's not on customer's side to determine whether he want to switch the control on or not

#As such, the company will choose the heating period that depend on time period that has maximum daily curtailed energy loss. This is because he he only have one year of customer's demand data and as such can't anticipate exactly what customer is going to demand in each day)

####  Note: We can further break it down to different seasonality, weekday/weekend, or at daily level for further steps!

Steps:
    1. search average heating time for hot water system, search for DR system MW 
    2. Plot avearge intraday curtailed energy => convert result_2 to average amount
    3. Calculate curtailed energy by split up result_2 by different charging window, and amount of customer!-- We need to align on how to deal with this problem!
        My thoughts:
            1. Assume customer penetration 10%, given charging window 2hour(as example), use the charging window from  previous step to calculate energy save that could potentionally be curtailed.
            2. What if we change customer penetration to 20%? How about 30%? How much energy can the company save now?